<div id="<%= dom_id vocabulary %>">
  <p>
    <strong>Japanese:</strong>
    <%= vocabulary.japanese %>
  </p>

  <p>
    <strong>English:</strong>
    <%= vocabulary.english %>
  </p>

  <p>
    <strong>Kanji:</strong>
    <%= vocabulary.kanji %>
  </p>

  <p>
    <strong>Chinese:</strong>
    <%= vocabulary.chinese %>
  </p>

</div>
