<style>
 #customers {
     font-family: Arial, Helvetica, sans-serif;
     border-collapse: collapse;
     width: 100%;
 }

 #customers td, #customers th {
     border: 1px solid #ddd;
     padding: 8px;
 }

 #customers tr:nth-child(even){background-color: #f2f2f2;}

 #customers tr:hover {background-color: #ddd;}

 #customers th {
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: left;
     background-color: #04AA6D;
     color: white;
 }
</style>

<p style="color: green"><%= notice %></p>

<h1>單字</h1>

<table id="customers">
    <thead>
        <tr>
            <th>日文</th>
            <th>漢字</th>
            <th>英文/外來語</th>
            <th>中文</th>
            <th>例句</th>
            <th>編輯</th>
        </tr>
    </thead>
    <tbody>
      <% @vocabularies.select { |v| v.created_at >= (Date.today -1) }.sort_by { |v| v.created_at }.reverse.each do |vocabulary| %>
        <tr>
            <td><h3><%= vocabulary.japanese %></h3></td>
            <td><%= vocabulary.kanji %></td>
            <td><%= vocabulary.english %></td>
            <td><%= vocabulary.chinese %></td>
            <td><%= vocabulary.sentence %></td>
            <td>
                <%= link_to "修改", edit_vocabulary_path(vocabulary) %>
                <%= link_to "刪除", vocabulary_path(vocabulary), method: "delete", data: { confirm: "確認刪除" } %>
            </td>
        </tr>
      <% end %>
    </tbody>
</table>

<br/>
<%= link_to "新增單字", new_vocabulary_path %>
