<p style="color: green"><%= notice %></p>

<%= render @vocabulary %>

<div>
  <%= link_to "Edit this vocabulary", edit_vocabulary_path(@vocabulary) %> |
  <%= link_to "Back to vocabularies", vocabularies_path %>

  <%= button_to "Destroy this vocabulary", @vocabulary, method: :delete %>
</div>
